{% extends "base.html" %}
{% block style %}
<style>
    td>a:hover {
        border-bottom: 2px solid grey;
        text-decoration: none;
    }
</style>
{% endblock %}
{% block head %}{% endblock %}
{% block main %}
<!--To make space on top-->
<div class="m-5 p-3"></div>
<!--Main Layout-->

<div class="container">
    <!-- Submission Details -->
    <div class="card" id="submission-details">
        <div class="card-header">
            <h2 class="dark-grey-text">{{userId}}</h2>

        </div>
        <div class="card-body">
            <div class="row justify-content-around">
                <div class="col-2 text-center">
                    <a href={{gitLink}}>
                        <img style="width: 3vw; height: auto" src="{{ url_for('static',filename = 'img/git.png')}}"
                            alt="Source Code">
                    </a>
                    <p class="card-text">Source Code</p>
                </div>
                <div class="col-2 text-center">
                    <a href={{dockLink}}>
                        <img style="width: 3vw; height: auto" src="{{ url_for('static',filename = 'img/docker.png')}}"
                            alt="Source Code">
                    </a>
                    <p class="card-text">Dockerfile</p>
                </div>
                <div class="col-2 text-center">
                    <a href={{docLink}}>
                        <img style="width: 3vw; height: auto" src="{{ url_for('static',filename = 'img/report.png')}}"
                            alt="Source Code">
                    </a>
                    <p class="card-text ">Report</p>
                </div>
            </div>
        </div>

        <div id="app-test" class="card-footer">
                <a href="" target="blank" id="app-test-link"><button id="app-test-download"
                            class="mt-0 btn btn-blue-grey font-weight-bold"></button></a>
            </div>
    </div>

    <hr class="mt-5 border-light">

    <!--Docker Controller-->
    <div class=" container">
        <h3 class="text-light mt-5">Spin Docker</h3>
        <button id="test" class="m-3 btn btn-blue-grey font-weight-bold">Test</button>
        <div class="card m-3" id="results">
            <div class="card-body" id="result-body">
                <span id="spinner">Loading....</span>
            </div>
        </div>
        <button id="stop" class="m-3 btn btn-blue-grey font-weight-bold">Stop</button>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    $('#app-test').hide()
    if ('{{ui}}' == 'web') {
        $('#app-test-link').attr("href", "/result/{{assignmentId}}/selenium.side");
        $('#app-test-download').text('selenium.side');
        $('app-test').show();
        $('#download').hide();
    }

    else if ('{{ui}}' == 'rest') {
        $('#app-test-link').attr("href", "/result/{{assignmentId}}/postman.zip");
        $('#app-test-download').text('postman.json');
        $('#app-test').show();
    }

    $('#results').hide();
    $('#stop').hide();
    $('#test').click(function () {
        $('#results').show();
        $("#spinner").show();
        $('#stop').hide();
        $.ajax({
            url: '/run/{{submissionId}}',
            success: function (response) {
                data = JSON.parse(response);
                console.log(data);
                $('#spinner').hide();
                for (i = 0, len = data.length; i < len; i++) {
                    console.log('Hi');
                    console.log(data[i]);
                    if(data['ui'] == 'web'){
                        $("#result-body").append('<p class="dark-grey-text" id="web-url">Please copy paste this url on the browser having selenium:</p><p class="dark-grey-text">'+data['url']+'</p>');
                        $('#stop').show();
                    }
                    else{
                        $("#result-body").append('<p class="dark-grey-text">Test '+ (i+1) + ': ' + data[i]['r'] + '</p>');
                    }
                }
            }
        });
    });
    $('#stop').click(function(){
        $.ajax({
            url: '/stop/'+data[0]['containerId'],
            success: function (response) {
                data = JSON.parse(response);
                console.log(data);
                if(data == 'Success'){
                    $('#web-url').text('Container Stopped Successfully.');
                }
            }
        });
    });
</script>
{% endblock %}