{% extends "base.html" %}
{% block style %}
<style>
    td>a:hover {
        border-bottom: 2px solid grey;
        text-decoration: none;
    }
</style>
{% endblock %}
{% block head %}{% endblock %}
{% block main %}
<!--To make space on top-->
<div class="m-5 p-3"></div>
<!--Main Layout-->

<div class="container">
    <!-- Assignment Details -->
    <div class="card" id="assignment-details">
        <div class="card-header">
            <h2 class="dark-grey-text">{{title}}</h2>
            <div class="row">
                <span class="rounded blue-grey text-white m-2 ml-3 p-1 pl-2 pr-2">{{semester}}</span>
                <span class="rounded blue-grey text-white m-2 p-1 pl-2 pr-2">{{section}}</span>
                <span class="rounded blue-grey text-white m-2 p-1 pl-2 pr-2">{{courseName}}</span>
            </div>
        </div>
        <div class="card-body">
            <div class="row dark-grey-text">
                <div class="col-9">
                    <h5 class="font-weight-bold">Description</h5>
                    <p>{{descr}}</p>
                    <div id="ui-results">
                        
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <h6 class="font-weight-bold">Database</h6>
                        <p>{{db}}</p>
                    </div>
                    <div>
                        <h6 class="font-weight-bold">UI</h6>
                        <p>{{ui}}</p>
                    </div>
                    <div>
                        <h6 class="font-weight-bold">Submission Date</h6>
                        <p>{{submission}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="/cases/{{assignmentId}}" target="blank"><button id="download" class="mt-0 btn btn-blue-grey font-weight-bold">Download Test Cases</button></a>
        </div>
    </div>

    <hr class="mt-5 border-light">

    <!--Submission List-->
    <div class=" container">
        <h3 class="text-light mt-5">Submission List</h3>
        <table class="mt-4 table table-light table-striped">
            <thead>
                <tr>
                    <th>Student ID</th>
                </tr>
            </thead>
            <tbody id="submissions">

            </tbody>
        </table>
    </div>
</div>



{% endblock %}

{% block script %}
<script>

    $.ajax({
        url: '/professor/get/{{assignmentId}}',
        success: function (response) {
            data = JSON.parse(response);
            $("#submissions").html('');
            for (i = 0, len = data.length; i < len; i++) {
                $("#submissions").append('<tr><td><a href="/get/{{assignmentId}}/submission">' +
                    data[i]['userId'] + '</a></td></tr>');
            }
        }
    });

    if ('{{ui}}' == 'cui') {
        console.log('Here');
        $.ajax({
            url: '/get/cui/{{assignmentId}}',
            success: function (response) {
                data = JSON.parse(response);
                console.log(data);
                $('#ui-results').append('<h5 class="font-weight-bold">CUI</h5><p>Executable Name: '+data[0]['execName']+'</p>')
            }
        });
    }
    else if ('{{ui}}' == 'rest') {
        console.log('Here');
        $.ajax({
            url: '/get/rest/{{assignmentId}}',
            success: function (response) {
                data = JSON.parse(response);
                console.log(data);
                $('#ui-results').append('<h5 class="font-weight-bold">REST</h5>');
                for (i = 0, len = data.length; i < len; i++) {
                    $('#ui-results').append('<p><b>Test '+(i+1)+':</b></p><p>Api: '+data[i]['api']+'</p><p>Method: ' + data[i]['method'] + '</p><p>Status Code: ' + data[i]['statusCode'] + '</p>');
                }
            }
        });
    }
</script>
{% endblock %}