{% extends "base.html" %}
{% block style %}
<style>
    td>a:hover {
        border-bottom: 2px solid grey;
        text-decoration: none;
    }
</style>
{% endblock %}
{% block head %}{% endblock %}
{% block main %}
<!--To make space on top-->
<div class="m-5 p-3"></div>
<!--Main Layout-->

<div class=" container">
    <!-- Create Button -->
    <button id="create" class="mt-0 btn btn-blue-grey" type="submit">Create</button>

    <!--Assignment List-->
    <table class="mt-4 table table-light table-striped">
        <thead>
            <tr>
                <th>Assignment</th>
                <th>Semester</th>
                <th>Section</th>
                <th>Subject</th>
                <th>Submission Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="professor/get/a01">Elective Registration</a></td>
                <td>7</td>
                <td>C</td>
                <td>Web Tech II</td>
                <td>29/02/2091</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}

{% block script %}
<script>
    $("#create").click(function () {
        window.location.href = '/professor/create/assignment'
    });
</script>
{% endblock %}