{% extends "base.html" %}
{% block style %}
<style>
    td>a:hover {
        border-bottom: 2px solid grey;
        text-decoration: none;
    }
</style>
{% endblock %}
{% block head %}{% endblock %}
{% block main %}
<!--To make space on top-->
<div class="m-5 p-3"></div>
<!--Main Layout-->

<div class="container">


    <!-- Assignment Details -->
    <div class="card" id="assignment-details">
        <div class="card-header">
            <h2 class="dark-grey-text">{{title}}</h2>
            <div class="row">
                <span class="rounded blue-grey text-white m-2 ml-3 p-1 pl-2 pr-2">{{semester}}</span>
                <span class="rounded blue-grey text-white m-2 p-1 pl-2 pr-2">{{section}}</span>
                <span class="rounded blue-grey text-white m-2 p-1 pl-2 pr-2">{{courseName}}</span>
            </div>
        </div>
        <div class="card-body">
            <div class="row dark-grey-text">
                <div class="col-9">
                    <h5 class="font-weight-bold">Description</h5>
                    <p>{{descr}}</p>
                    <div id="ui-results">

                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <h6 class="font-weight-bold">Database</h6>
                        <p>{{db}}</p>
                    </div>
                    <div>
                        <h6 class="font-weight-bold">UI</h6>
                        <p>{{ui}}</p>
                    </div>
                    <div>
                        <h6 class="font-weight-bold">Submission Date</h6>
                        <p>{{submission}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="/cases/{{assignmentId}}" target="blank"><button id="download"
                    class="mt-0 btn btn-blue-grey font-weight-bold">Download Test Cases</button></a>
        </div>
    </div>

    <hr class="mt-5 mb-5 border-light">

    <!-- Create Submission -->
    <button id="submit" class="btn btn-dark-green">Submit Assignment</button>

    <!-- Generate Dockerfile -->
    <button id="dockerfile" class="btn btn-blue-grey float-right">Generate Dockerfile</button>


    <!-- Submission Details -->

    <div class="card mt-5" id="submission-details">
        <div class="card-header">
            <h2 class="dark-grey-text">Submission Details</h2>

        </div>
        <div class="card-body">
            <div class="row justify-content-around">
                <div class="col-2 text-center">
                    <a href="" id="gitLink">
                        <img style="width: 3vw; height: auto" src="{{ url_for('static',filename = 'img/git.png')}}"
                            alt="Source Code">
                    </a>
                    <p class="card-text">Source Code</p>
                </div>
                <div class="col-2 text-center">
                    <a href="" id="dockLink">
                        <img style="width: 3vw; height: auto" src="{{ url_for('static',filename = 'img/docker.png')}}"
                            alt="Source Code">
                    </a>
                    <p class="card-text">Dockerfile</p>
                </div>
                <div class="col-2 text-center">
                    <a href="" id="docLink">
                        <img style="width: 3vw; height: auto" src="{{ url_for('static',filename = 'img/report.png')}}"
                            alt="Source Code">
                    </a>
                    <p class="card-text ">Report</p>
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-5 border-light">
    <div class="mb-5 container">
        <h3 class="text-light mt-5">Spin Docker</h3>
        <button id="test" class="m-3 btn btn-blue-grey font-weight-bold">Test</button>
        <div class="card m-3" id="results">
            <div class="card-body" id="result-body">
                <span id="spinner">Loading....</span>
            </div>
        </div>
        <button id="stop" class="m-3 btn btn-blue-grey font-weight-bold">Stop</button>
    </div>
</div>



{% endblock %}

{% block script %}
<script>
    $('#results').hide();
    $('#stop').hide();
    $('#submit').click(function () {
        window.location.href = '/student/create/submission'
    });
    $('#dockerfile').click(function () {
        window.location.href = '/student/create/dockerfile'
    });
    $.ajax({
        url: '/get/{{assignmentId}}/submission',
        success: function (response) {
            data = JSON.parse(response);
            console.log(data);
            if (data == 'Not Submitted') {
                $('submission-details').hide();
            } else {
                $("#submit").attr("disabled", true);
                $('#gitLink').attr("href", data["gitLink"]);
                $('#dockLink').attr("href", data["dockLink"]);
                $('#docLink').attr("href", data["docLink"]);
            }

            if (data['ui'] == 'cui') {
                console.log('Here');
                $.ajax({
                    url: '/get/cui/{{assignmentId}}',
                    success: function (response) {
                        data = JSON.parse(response);
                        console.log(data);
                        $('#ui-results').append(
                            '<h5 class="font-weight-bold">CUI</h5><p>Executable Name: ' +
                            data[0][
                                'execName'
                            ] + '</p>')
                    }
                });
            } else if (data['ui'] == 'rest') {
                console.log('Here');
                $.ajax({
                    url: '/get/rest/{{assignmentId}}',
                    success: function (response) {
                        data = JSON.parse(response);
                        console.log(data);
                        $('#ui-results').append('<h5 class="font-weight-bold">REST</h5>');
                        for (i = 0, len = data.length; i < len; i++) {
                            $('#ui-results').append('<p><b>Test ' + (i + 1) +
                                ':</b></p><p>Api: ' +
                                data[i]['api'] + '</p><p>Method: ' + data[i]['method'] +
                                '</p><p>Status Code: ' + data[i]['statusCode'] + '</p>');
                        }
                    }
                });
            }

            $('#test').click(function () {
                $('#results').show();
                $("#spinner").show();
                $('#stop').hide();
                $.ajax({
                    url: '/run/{{submissionId}}',
                    success: function (response) {
                        data = JSON.parse(response);
                        console.log(data);
                        $('#spinner').hide();
                        for (i = 0, len = data.length; i < len; i++) {
                            console.log('Hi');
                            console.log(data[i]);
                            if (data['ui'] == 'web') {
                                $("#result-body").append(
                                    '<p class="dark-grey-text" id="web-url">Please copy paste this url on the browser having selenium:</p><p class="dark-grey-text">' +
                                    data['url'] + '</p>');
                                $('#stop').show();
                            } else {
                                $("#result-body").append(
                                    '<p class="dark-grey-text">Test ' + (i + 1) +
                                    ': ' + data[i]['r'] + '</p>');
                            }
                        }
                    }
                });
            });
            $('#stop').click(function () {
                $.ajax({
                    url: '/stop/' + data[0]['containerId'],
                    success: function (response) {
                        data = JSON.parse(response);
                        console.log(data);
                        if (data == 'Success') {
                            $('#web-url').text('Container Stopped Successfully.');
                        }
                    }
                });
            });
        }
    });
</script>
{% endblock %}