{% extends "base.html" %}
{% block style %}
<style>
    td>a:hover {
        border-bottom: 2px solid grey;
        text-decoration: none;
    }
</style>
{% endblock %}
{% block head %}{% endblock %}
{% block main %}
<!--To make space on top-->
<div class="m-5 p-3"></div>
<!--Main Layout-->

<div class="container">


    <!-- Assignment Details -->
    <div id="assignment-details" class="card">
        <table class="table">
            <tbody>
                <tr>
                    <td>Title</td>
                    <td>Build an Elective Recommender</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at turpis sit amet eros
                        molestie scelerisque a a lacus. Cras in auctor nisl. Quisque venenatis est mi. Pellentesque
                        dictum arcu vehicula, auctor velit id, efficitur purus. Cras suscipit, arcu at sodales
                        facilisis, nunc tortor interdum massa, vitae sollicitudin magna nunc in lectus. Suspendisse quis
                        accumsan lorem. Aenean scelerisque a mi non laoreet.</td>
                </tr>
                <tr>
                    <td>Semester</td>
                    <td>7</td>
                </tr>

                <tr>
                    <td>Section</td>
                    <td>C</td>
                </tr>
                <tr>
                    <td>Course</td>
                    <td>Web Tech II</td>
                </tr>
                <tr>
                    <td>Database</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Interaction Type</td>
                    <td>Web UI</td>
                </tr>
                <tr>
                    <td>Submission Date</td>
                    <td>20/3/2019</td>
                </tr>
                <tr>
                    <td>Test Cases</td>
                    <td>
                        <a data-toggle="modal" data-target="#Case1">Test Case 1</a><br>
                        <a data-toggle="modal" data-target="#Case2">Test Case 2</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- The Modals -->
    <div class="modal" id="Case1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    Content of Test Case File
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-5 border-light">


    <!-- Create Submission -->
    <button id="submission" class="btn btn-dark-green" type="submit">Submit Assignment</button>

    <!-- Generate Dockerfile -->
    <button id="dockerfile" class="btn btn-blue-grey float-right" type="submit">Generate Dockerfile</button>

    <!-- Submission Details -->

    <h3 class="text-light mt-3">Submission Details</h3>
    <div id="submission-details" class="card mt-3 mb-3">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Section</td>
                        <td>C</td>
                    </tr>
                    <tr>
                        <td>Source Code</td>
                        <td><a href="https://github.com/kaveri-s/WT2">WT2</a></td>
                    </tr>
                    <tr>
                        <td>DockerFile</td>
                        <td><a href="https://hub.docker.com/r/rubyphoenix/vertx-sample">Sample Java App</a></td>
                    </tr>
                    <tr>
                        <td>Report</td>
                        <td><a href="https://docs.google.com/document/d/17UD8GLL9hJp31rW4oaSXXHeTH2qk_fm0gu7V3Ro-etw/">Report-01FB15ECS146</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    <hr class="mt-5 border-light">
    <h3 class="text-light mt-3">Docker Controller</h3>

</div>



{% endblock %}

{% block script %}
<script>
    $('#submission').click(function(){
        window.location.href = '/student/create/submission'
    });
    $('#dockerfile').click(function(){
        window.location.href = '/student/create/dockerfile'
    });
</script>
{% endblock %}