{% extends "base.html" %}
{% block style %}
<style>
    td>a:hover {
        border-bottom: 2px solid grey;
        text-decoration: none;
    }
</style>
{% endblock %}
{% block head %}{% endblock %}
{% block main %}
<!--To make space on top-->
<div class="m-5 p-3"></div>
<!--Main Layout-->

<div class=" container">
    <!--Assignment List-->
    <table class="mt-4 table table-light table-striped">
        <thead>
            <tr>
                <th>Assignment</th>
                <th>Semester</th>
                <th>Section</th>
                <th>Subject</th>
                <th>Submission Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="student/get/a01">Elective Registration</a></td>
                <td>7</td>
                <td>C</td>
                <td>Web Tech II</td>
                <td>29/03/2019</td>
            </tr>
            <tr>
                <td><a href="student/get/a01">Library for Complex Numbers</a></td>
                <td>5</td>
                <td>A</td>
                <td>Algorithms</td>
                <td>03/04/2091</td>
            </tr>
            <tr>
                <td><a href="student/get/a01">Static Website</a></td>
                <td>3</td>
                <td>B</td>
                <td>Web Tech</td>
                <td>28/04/2019</td>
            </tr>
            <tr>
                <td><a href="student/get/a01">File System</a></td>
                <td>6</td>
                <td>B</td>
                <td>Operating Systems</td>
                <td>15/04/2019</td>
        </tbody>
    </table>
</div>

{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}